<h1><%= @question.author %></h1>
<h3><%= @question.question %></h3>

<% if @question.responses.any? %>
  <h4>Here are the responses for this question:</h4>

  <% @question.responses.each do |response| %>
      <p>
        <%= link_to response.author, question_response_path(@question, response) %>
      </p>
  <% end %>
<% else %>
  <p>No responses are listed for this question.</p>
<% end %>

<p><%= link_to "Add a response", new_question_response_path(@question) %></p>


<p><%= link_to "Edit", edit_question_path(@question) %></p>
<p><%= link_to "Delete", question_path(@question),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to questions", questions_path %></p>
